@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
  --font-color: black;
  --body-bg-color: white;
  --bod-bg-color: #2F4F4F;
  --place-holder: black;
}
.dark-mode {
  --font-color: white;
  --body-bg-color: black;
  --bod-bg-color: #2F4F4F;
  --place-holder: white;
}
